.scene-wrapper {
	height: 100%;
}

.header-scene-container-expanded {
	height: 100vh;
	transition: height 0.6s ease-out;
}

.header-scene-container-contracted {
	height: 15vh;
	border-radius: 0px 0px 8px 8px;
	overflow: hidden;
	box-shadow: 0px 3px 10px #ccc;
	transition: height 0.3s ease-out;
}

.header-scene-container-contracted:hover {
	height: 30vh;
}