/* overriding default ag-theme-material */
.ag-theme-material {
	--ag-background-color: rgba(0, 0, 0, 0.15);
	--ag-header-foreground-color: white;
	--ag-header-background-color: rgba(0, 0, 0, 0.6);
	--ag-foreground-color: white;
}

.ag-theme-material .ag-row:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.4);
}

.ag-theme-material .ag-column-hover {
  background-color: white;
	color: black;
}

.ag-theme-material .ag-row-hover {
	background-color: white !important;
	color: black;
}
