/* overriding default ag-theme-material */
.ag-theme-material {
	--ag-background-color: transparent;
	--ag-header-foreground-color: white;
	--ag-header-background-color: rgba(0, 0, 0, 0.25);
	--ag-foreground-color: white;
	--ag-header-cell-hover-background-color: null,
}

.ag-theme-material .ag-row:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.15);
}

.ag-theme-material .ag-row-hover {
	background-color: transparent;
}

.ag-theme-material .ag-cell-hover {
	background-color: transparent;
	border: 1px solid black;
}

.ag-theme-material .ag-header-viewport {
	border-bottom: 4px solid white;
}
